<div
  class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="
    min-height: 600px;
    background-image: url(assets/img/theme/profile-cover.jpg);
    background-size: cover;
    background-position: center top;
  "
>
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello username</h1>
        <p class="text-white mt-0 mb-5">
          Vous pouvez créez un rendez-vous pour un service avec un employé de
          votre choix.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '8px' }"
  ></ngx-loading>
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-lg-8 col-md-6 col-sm-6">
              <h3 class="mb-0">Notification</h3>
            </div>
            <div
              class="col-lg-4 col-md-6 col-sm-6 text-right"
              *ngIf="UserQuery.role == 'client'"
            >
              <!-- Add content for client role if needed -->
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead>
                <tr>
                  <th scope="col">Image</th>
                  <th scope="col">Utilisateur</th>

                  <th scope="col">Notification</th>
                  <th scope="col">Date</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let notif of Notif">
                  <td>
                    <img
                      alt="Image placeholder"
                      src="assets/uploads/{{ notif.envoyeur.imageEnv }}"
                      class="avatar rounded-circle"
                      height="50"
                      width="50"
                    />
                  </td>
                  <td>{{ notif.envoyeur.nomEnv }}</td>
                  <td>
                    <button
                      *ngIf="notif.notification === 'service'"
                      class="btn btn-link"
                    >
                      {{ notif.remarque }} {{ notif.serviceConcerne.nomServ }}
                    </button>
                    <button
                      *ngIf="notif.notification === 'paiements'"
                      class="btn btn-link"
                    >
                      {{ notif.remarque }}
                    </button>
                  </td>
                  <td>
                    <span class="text-sm">{{ notif.date }}</span>
                  </td>
                  <td>
                    <button
                      *ngIf="!notif.isRead"
                      (click)="updateLecture(notif.destinataire)"
                      class="btn btn-sm btn-primary"
                    >
                      Marquer comme lue
                    </button>
                    <button *ngIf="notif.isRead" class="btn btn-sm btn-success">
                      Notification lue
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
