<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card my-5">
        <div class="card-body">
          <a href="#" class="d-flex justify-content-center">
            <img src="assets/images/logo-dark.svg" />
          </a>
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header">
                <h2 class="text-secondary mt-5"><b>Activation du compte</b></h2>
                <p class="fs-4 mt-2">Saisir votre code d'activatio </p>
              </div>
            </div>
          </div>

          <form>
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="floatingInput" value="info@codedthemes.com" />
              <label for="floatingInput">Code</label>
            </div>

            <div class="d-grid mt-4">
              <button type="button" class="btn btn-secondary">Verifiez</button>
            </div>
          </form>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
