<div
  class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="
    min-height: 600px;
    background-image: url(assets/img/theme/profile-cover.jpg);
    background-size: cover;
    background-position: center top;
  "
>
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello {{ userProfile.name }}</h1>
        <p *ngIf="userProfile.role === 'employe'" class="text-white mt-0 mb-5">
          Voici la gestion des services . ajoutez , modifier et supprimer.
        </p>
        <p *ngIf="userProfile.role === 'client'" class="text-white mt-0 mb-5">
          Voici la liste de nos services.
        </p>
        <a
          *ngIf="userProfile.role === 'employe'"
          (click)="toAddService()"
          class="btn btn-info"
          >Ajouter un service</a
        >
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <br />
  <br />
  <br />
  <br />
  <br />
  <nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-default">
    <div class="container">
      <a class="navbar-brand" href="#">Liste des services</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar-default"
        aria-controls="navbar-default"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-default">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="../../index.html">
                <img src="assets/img/brand/blue.png" />
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button
                type="button"
                class="navbar-toggler"
                data-toggle="collapse"
                data-target="#navbar-default"
                aria-controls="navbar-default"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link nav-link-icon position-relative" href="#">
              <i class="ni ni-favourite-28"></i>
              <span
                class="badge badge-white rounded-circle position-absolute top-0 start-100 translate-middle"
              >
                {{ notif }}
              </span>
              <span class="nav-link-inner--text d-lg-none">Discover</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br />
  <br />
  <div class="service-container">
    <div #cardWrapper class="card-wrapper">
      <div *ngFor="let service_query of service" class="card-wrapper" cdkDrag>
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="assets/uploads/{{ service_query.image }}"
            width="200"
            height="200"
            alt="Card image cap"
          />

          <div class="card-body">
            <h5 class="card-title">{{ service_query.nom }}</h5>
            <p class="card-text">prix service : {{ service_query.prix }}</p>
            <p class="card-text">durree : {{ service_query.durre }}</p>
            <p class="card-text">commission : {{ service_query.commission }}</p>
            <a
              *ngIf="userProfile.role === 'employe'"
              (click)="ToUpdate(service_query._id)"
              class="btn btn-primary"
              >Modifier</a
            >
            <a
              *ngIf="userProfile.role === 'employe'"
              class="btn btn-danger"
              (click)="RemoveService(service_query._id)"
            >
              Supprimer
            </a>
            <a
              (click)="
                AddServiceToFavorite(
                  service_query._id,
                  service_query.nom,
                  service_query.prix,
                  service_query.commission
                )
              "
              *ngIf="
                userProfile.role !== 'employe' && userProfile.role !== 'manager'
              "
              class="btn btn-success"
            >
              <i class="ni ni-favourite-28"></i>
              Add to favorites
            </a>
          </div>
        </div>
      </div>

      <div
        #deleteIconWrapper
        class="delete-icon-wrapper"
        cdkDropList
        (cdkDropListDropped)="onDeleteIconDrop($event)"
      >
        <a *ngIf="isDragging" class="btn btn-danger">
          <i class="ni ni-fat-remove text-red"></i> Supprimer
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="serviceDeleted" class="alert alert-danger" role="alert">
    Service deleted.
  </div>
  <div
    *ngIf="pref_added"
    class="alert alert-success alert-dismissible fade show"
    role="alert"
  >
    <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
    Ajouter au preference
  </div>
  <div
    *ngIf="pref_exist"
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
  >
    <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
    service deja au preference
  </div>
</div>
