<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card mt-5">
        <div class="card-body">
          <a href="javascript:" class="d-flex justify-content-center mt-3">
            <img src="assets/images/logo-dark.svg" />
          </a>
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header">
                <h2 class="text-secondary mt-5"><b>Sign up</b></h2>
                <p class="fs-4 mt-2">Enter your credentials to continue</p>
              </div>
            </div>
          </div>
          <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted" style="width: 100%">
            <img src="assets/images/authentication/google-icon.svg" />Sign Up With Google
          </button>
          <div class="saprator mt-3">
            <span>or</span>
          </div>
          <h5 class="my-4 d-flex justify-content-center"> Sign Up with Email address </h5>
          <form [formGroup]="UserForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input formControlName="Username" type="text" class="form-control" id="floatingInput" placeholder="name@example.com" />
                  <div *ngIf="UserForm.get('Username').hasError('required') && UserForm.get('Username').touched" class="text-danger">
                    Username is required.
                  </div>
                  <label for="floatingInput">Username</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" />
                  <div *ngIf="UserForm.get('email').hasError('required') && UserForm.get('email').touched" class="text-danger">
                    Email is required.
                  </div>
                  <label for="floatingInput">Email</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    formControlName="date_naissance"
                    type="date"
                    class="form-control"
                    id="floatingInput"
                    placeholder="name@example.com"
                  />

                  <div
                    *ngIf="UserForm.get('date_naissance').hasError('required') && UserForm.get('date_naissance').touched"
                    class="text-danger"
                  >
                    date de naissance is required.
                  </div>
                  <label for="floatingInput">Date de naissance</label>
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <select formControlName="role" class="form-control">
                <option value="" disabled selected>Select Role</option>

                <option value="client">Client </option>
                <option value="Employe">Employe </option>
              </select>
              <div *ngIf="UserForm.get('role').hasError('required') && UserForm.get('role').touched" class="text-danger">
                Role is required.
              </div>
              <label for="floatingInput"></label>
            </div>
            <div class="form-floating mb-3">
              <input
                formControlName="password"
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
                (input)="validatePasswords()"
              />
              <label for="password">Password</label>
            </div>
            <div *ngIf="UserForm.get('password').hasError('required') && UserForm.get('password').touched" class="text-danger">
              password is required.
            </div>

            <!-- Confirm Password -->
            <div class="form-floating mb-3">
              <input
                formControlName="confirmPassword"
                type="password"
                class="form-control"
                id="confirmPassword"
                placeholder="Confirm Password"
                (input)="validatePasswords()"
              />
              <label for="confirmPassword">Confirm Password</label>
            </div>
            <div
              *ngIf="UserForm.get('confirmPassword').hasError('required') && UserForm.get('confirmPassword').touched"
              class="text-danger"
            >
              Confirm password is required.
            </div>
            <div *ngIf="isNotEquals" class="text-danger">the password is not equals</div>
            <div *ngIf="accountCreated" class="alert alert-success alert-dismissible fade show" role="alert">
              your account was created
              <button type="button" (click)="onClose()" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="d-grid mt-4">
              <button (click)="saveForm(UserForm)" type="button" class="btn btn-secondary p-2">Sign Up</button>
            </div>
            <hr />
            <h5 class="d-flex justify-content-center">
              <a [routerLink]="['/guest/login']"> Already have an account? </a>
            </h5>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
